name: Deploy
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - run: flutter pub get
      - run: flutter build web
